html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
    height: 100vh;
}

.header {
    height: 40px;
    align-items: center;
    padding: 22px 15vw 10px 15vw;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
}

.header,
.hero-banner {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

/* HERO BANNER */
.hero-banner {
    padding: 120px 15vw;
    gap: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image img {
    height: 100%;
    width: 100%;
}

.hero-image {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    background-color: red;
}

.hero-text {
    width: 40vw;
    flex: 1;
}

.hero-text .main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    line-height: 100%;
}

.hero-text .subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin: 15px 0;
}

.hero-text button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 7px 28px 7px 28px;
    border-radius: 12%;
    border: none;
}

/* NUT INFO */
.random-information {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 30px 0 120px 0;
}

.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 20px;
}

.container {
    display: flex;
    gap: 40px;
    flex: 1;
}

.card {
    border: 3px solid #3882f6;
    height: 12vw;
    width: 12vw;
    border-radius: 12%;
    margin-bottom: 5px;
    flex: 1;
}

.card-text {
    max-width: 12vw;
    text-align: center;
    color: #1f2937;
}

.card-text img {
    height: 100%;
    width: 100%;
    border-radius: 12%;
}

/* TESTIMONIALS */
.testimonials {
    flex: 1;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 20vw 100px 20vw;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quoter {
    font-weight: 600;
    font-size: 18px;
    align-self: flex-end;
    margin-top: 15px;
}

/* CALL TO ACTION */
.sign-up {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 120px 15vw;
}

.center-blue {
    background-color: #3882f6;
    padding: 4vw 9vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 7vw;
    border-radius: 5%;
}

.info,
.subtext {
    margin: 0;
}

.info,
.sign-up button {
    color: #f9faf8;
}

.subtext {
    color: #e5e7eb;
}

.info {
    font-weight: 600;
    font-size: 20px;
}

button {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 12%;
    padding: 5px 28px 5px 28px;
}

/* FOOTER */

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5vh 0 3.5vh 0;
}